@media (min-width: 700px) {
    .login {
        background-image: url('https://carenowdoc.com/static/media/doctor_login_img.1c8064c4.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }
}
@media(max-width:700px){
    .login{
    background-color: aliceblue;
}
}

.login input,
button {
    margin-bottom: 10px;
    padding: 7px;
    outline: none;
    font-size: 1.1rem;
}

@media (min-width: 700px) {

    .login input,
    button {
        width: 25%;
    }
}

.login h3 {
    color: rgb(103, 19, 205);
}

.login button {
    background-color: rgb(100, 100, 228);
    border-color: blue;
    font-size: 1.2rem;
    color: white;
    border: 1px solid;
    border-radius: 15px;
}

.login button:hover {
    background-color: aliceblue;
    color: blue;
}