.navbar{
    background-color: aliceblue;
    padding: 15px;
    position:sticky;
    top: 0px;
}
.navbar a{
    text-decoration: none;
    color:black;
    font-size: 1.3rem;
}
.register{
    background-color: rgb(193, 193, 239);
    border-radius: 7px;
}